<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Transfer Summary</h1>
    <p>
        Your transfer of $<span data-th-text="${validTransaction.amount}"></span> 
        from <span data-th-text="${validTransaction.fromAccountName}  + ' (' + ${validTransaction.fromAccount} + ')'"></span> to <br>
        <span data-th-text="${validTransaction.toAccountName}   + ' (' + ${validTransaction.toAccount} + ')'" ></span> <br>
        is successful.

        <br><br>
        Transaction id is <span data-th-text="${validTransaction.transactionId}"></span>

    </p>
</body>
</html>