<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAF Assessment</title>
</head>
<body>
    <h1>Funds Transfer</h1>
    <form action="#" data-th-action="@{/transfer}" method="post" data-th-object="${transaction}">
        <table>
            <tr>
                <td>From account:</td>
                <td>
                    <select data-th-field="*{fromAccount}" required>
                        <option data-th-each="account: ${listOfAccounts}" data-th-value="${account.accountId}" data-th-text="${account.name} + ' (' + ${account.accountId} + ')'"></option>
                    </select>
                </td>                
            </tr>
            <tr>
                <td>To account:</td>
                <td>
                    <select data-th-field="*{toAccount}" required>
                        <option data-th-each="account: ${listOfAccounts}" data-th-value="${account.accountId}" data-th-text="${account.name} + ' (' + ${account.accountId} + ')'"></option>
                    </select>
                </td>                
            </tr>
            <tr>
                <td>Amount</td>
                <td>
                    <input type="number" step="0.01" data-th-field="*{amount}" required/>
                </td>                
            </tr>
            <tr>
                <td>Comments</td>
                <td>
                    <input type="text" data-th-field="*{comments}"/>
                </td>                
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Transfer</button>
                </td>                
            </tr>
            <tr>
                <td colspan="4">
                    <p><span data-th-text="${error}"></span></p>
                    <span class="error" data-th-if="${#fields.hasErrors('fromAccount')}"
					data-th-errors="*{fromAccount}"></span>
                    <br>
					<span class="error" data-th-if="${#fields.hasErrors('toAccount')}"
					data-th-errors="*{toAccount}"></span>
                    <br>
					<span class="error" data-th-if="${#fields.hasErrors('amount')}"
					data-th-errors="*{amount}"></span>
                    <br>
                </td>                
            </tr>

        </table>

    </form>
</body>
</html>